.Home {
    max-width: 600px ;
    margin: 60px auto;
    position: relative;
}

.div-boton{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
.ver-conversion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total{
    font-size: 25px;
    color: #919107;
}

.boton{
    padding: 5px 50px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    transition: all 0.3s ease;
}


.boton:hover{
    background-color: #919107;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    
}
.contenedor-btn{
    display: flex;
    justify-content: center;
    margin: 15px ;
    position: relative;
}
.intercambioBtn {
    position: absolute;
    border: none;
    padding: 3px 6px;
    border-radius: 50%;
    transform: rotate(90deg);
    transition: all 0.3s ease;
}

.intercambioBtn:hover {
    background-color:#e5e50f ;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}
.intercambioBtn .inputBtn{
    height: 3px;
    width: 3px;
}


.spinner{
    position: fixed;
    z-index: 10;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

